.bundle
db/*.sqlite3
log/*.log
tmp
public/ckeditor_assets/*
db/schema.rb
public/attachments/*
public/uploads/*
*.DS_Store
Gemfile.lock
public/stylesheets/style.css
vendor/cache/*
.rvmrc
/config/database.yml # доступ к базе данным
/Procfile # про него я еще расскажу
/config/deploy  # файлы Capistrano
/shared  # файлы, которых нет в репозитории, но они будут скопированы на сервер при первом деплое приложения
/shared
