ul, li, h4, h3, h2, h1, p
  :padding 0
  :margin 0
  :list-style-type none


#slider
  :position relative
  :top 0px
  :left 0px
  :overflow hidden
  :width 1265px
  :display block
  ul
    :width 5000px
    :display block    
    li      
      :float left
      :display block 
      :height 750px
      div
        :margin 0 auto
        :top 300px
        p
          :font-family Georgia,'Times New Roman',serif
          :letter-spacing 1
          :background-image url('/images/textbg.png')
          :display block
          :z-index 10000
          :font-size 40px
          :color black
          :float left
          :clear both
          :margin-top 0px
          :padding 4px 13px 7px
          span
            :color #FC8100
            :font-size 60px
            :padding 0px 0px 10px
        .link_to_banner
          :font-family Georgia,'Times New Roman',serif
          :background-color #FC8100
          :color white
          :font-style italic
          :font-size 16px
          :margin-top 10px
          :clear both
          :float left
          :padding 9px 16px
          a
            :color white
            :font-size 12px            
      img
        :width 1260px
        :height auto
        :display block        
#slider_container
  :position relative

#buttons
  :position absolute
  :top 400px
  :left 5%
  :margin 0 auto 
  :width 1205px
  :z-index 1000
  :height 0px
  a
    :margin 10px 10px
    :display block
    :width 30px
    :height 30px
    :background url(arrows.png) no-repeat
    :text-indent -9999px
    :border 0
  .prev
    :float left
    :left 15px
  .next
    :float right
    :right 15px    
    :background-position -30px 0