#buttons
  %a.prev{:href=>"#"}Назад
  %a.next{:href=>"#"}Вперед
  %br.clear/
#slider{:style=>"position: absolute;"}
  %ul
    -@banners.each do |b|
      %li{:style=>"position: relative;"}
        =image_tag b.image_url
        #caption_wrapper{:style=>"position: absolute; top: 200px;z-index:200;"}
          #caption
            -if b.url?          
              =link_to simple_format(b.text),  b.url
            -else
              = simple_format(b.text)
            .link_to_banner
              -if b.url?
                =link_to b.name, b.url
              -else
                =b.name
