<br>
<div class="fb-like" data-href=<%= url_for(:only_path => false) %> data-send="true" data-width="450" data-show-faces="true"></div>
<div class="fb-comments" data-href=<%= url_for(:only_path => false) %> data-num-posts="10" data-width="470"></div>