.photo[photo]
  = image_tag photo.image_url(:thumb) if photo.image?
  -#= link_to "Delete", slideshow_photo_path(@slideshow, photo), :method => :delete, :confirm => "Are you sure?", :remote => :true

