/*
*= require bootstrap-overrides
*= require bootstrap
*= require theme
*= require index
*= require animate
*= require font-awesome
*= require_self
*/

#team{
	padding: 35px 0 25px;
	margin: 0;
	background: #252528;
	margin-bottom: 90px;
}
#team .section_header{
	margin-bottom: 60px;
}
#team .section_header h3{
	color: #9D9D9E;
	border-color: #9D9D9E;
	margin: 0;
}
#team .people{
	margin: 0;
}
#team .people .row1{
	margin: 0 0 50px 0;
}
#team .people .bio_box{
	margin: 0;
}
#team .people .bio_boxr{
	float: right;
}
#team .people .bio_box img{
	float: left;
}
#team .people .bio_boxr img{
	margin-left: 38px;
}
#team .people .bio_box .info{
	float: left;
	margin: 38px 0 0 30px;
}
#team .people .bio_box .info p{
	margin-bottom: 0;
}
#team .people .bio_box .info p.name{
	color: #fff;
	font-style: italic;
	margin-bottom: 4px;
	font-size: 21px;
}
#team .people .bio_box .info p.area{
	color: #98989A;
	font-style: italic;
	font-style: 16px;
	margin-bottom: 18px;
}
#team .people .bio_box .info a {
	margin-right: 10px;
}
#team .people .bio_box .info a span{
	display: inline-block;
	width: 33px;
	height: 33px;
}
#team .people .bio_box .info span.ico1,
#team .people .bio_box .info span.ico1h{
	background-position: 0px 0px;
}
#team .people .bio_box .info span.ico2,
#team .people .bio_box .info span.ico2h{
	background-position: -37px 0px;
}
#team .people .bio_box .info span.ico3,
#team .people .bio_box .info span.ico3h{
	background-position: -75px 0px;
}
#team .people .bio_box .info span.ico4,
#team .people .bio_box .info span.ico4h{
	background-position: -112px -1px;
}
#team .people .bio_box .info span.ico5,
#team .people .bio_box .info span.ico5h{
	background-position: -151px 0px;
}
#team .people .bio_box .info span.ico6,
#team .people .bio_box .info span.ico6h{
	background-position: -188px -1px;
}
#team .people .bio_box .info span.ico7,
#team .people .bio_box .info span.ico7h{
	background-position: -226px 0px;
}
#team .people .bio_box .info a:hover span.socialicons{
	display: none;
}
#team .people .bio_box .info a:hover span.socialicons_h{
	display: inline-block !important;
}