Подписка на новости <br/>
<form action="http://www.marketion.ru/app/subscribe.php" method="post" accept-charset="UTF-8">
<input type="text" name="FormValue_Fields[EmailAddress]" value="" id="FormValue_EmailAddress" placeholder="email@email.com"><br />
<input type="submit" name="FormButton_Subscribe" value="Отправить" id="FormButton_Subscribe">
<input type="hidden" name="FormValue_ListID" value="11961">
<input type="hidden" name="FormValue_Command" value="Subscriber.Add" id="FormValue_Command">
</form>