.menu
  %span
    %p
      ШКОЛА
    %dl
      %dt
        Первый год
      %dd
        Гаврилов
      %dd
        Зеленский
      %dd
        Лиховид
      %dd
        Паромов
      %dd
        Симон
    %dl
      %dt
        Второй год
      %dd
        Паромов
      %dd
        Лиховид
      %dd
        Зеленский
    %dl
      %dt
        Третий год
      %dd
        Лиховид
      %dd
        Симон
  %span
    %p
      КУРСЫ
    %dl
      %dt
        Фотография
      %dd
        Первая ступень
      %dd
        Вторая ступень
      %dd
        По выходным
      %dd
        По рабочим
      %dd
        Старшая группа
      %dd
        Младшая группа
      %dt
        Индивидуальные занятия
      %dt
        Авторские курсы
      %dd
        «Непостановочная
        фотография»
      %dd
        «Портрет в атмосфере»
      %dd
        «Свадебная фотография»
  %span
    %p
      &nbsp
    %dl
      %dt
        Анимация
      %dd
        Студия < 10 лет
      %dd
        Студия > 10 лет
      %dt
        Киношкола
  %span
    %p
      ПРОЕКТЫ
    %dl
      %dt
        Орленок 2011
      %dt
        Лето 2012
    %p
      ВЫПУСКНИКИ
    %span
    %p
      ПРЕПОДАВАТЕЛИ
    %dl  
      %dt
        Максим СИМОН
      %dt
        Мария ЛИХОВИД
      %dt
        Сергей ГАВРИЛОВ
      %dt
        Даниил ЗЕЛЕНСКИЙ
      %dt
        Евгения МАРКОВА
      %dt
        Александр ПАРОМОВ
      %dt
        Виктория УШКАНОВА
      %dt
        Виктория СПИРЯГИНА
      %dt
        Дарья МАЛЫШЕВА
      %dt
        Юрий ИВАЩЕНКО
      %dt
        Антон ЕРОШИН
  %span
    %p
      СВЯЗЬ
    %dl  
      %dt
        Подписка на новости
      %dt
        Страница ВКонтакте
      %dt
        Страница Facebook
      %dt
        Адрес в Москве
      %dt
        Обратный звонок
      %dt
        Написать письмо
    %p
      ВЫСТАВКИ
    %dl  
      %dt
        «Филион» 2011
      %dt
        «Метрополис» 2010
      %dt
        «Филион» 2010
  %span
    %p
      СЕЗОНЫ
    %dl  
      %dt
        2011    
      %dt
        2010
      %dt
        2009
      %dt
        2008
      %dt
        2007        
  #copyright    
    Copyright &copy; #{Date.today.year}