#nav-wrapper
  #logo
  #navigation
    %nav#menu
      %ul
        %li
          = link_to_unless_current 'ШКОЛА',"/school"
        %li
          = link_to_unless_current 'КУРСЫ',"/courses"
        %li
          = link_to_unless_current "СЕМИНАРЫ", "/workshop"
        - if current_user
          %li
            = link_to_unless_current "Админка", "/dashboard"
          
  #contacts
    .logo
      %a{:href=>"http://fotohaus.ru", :target=>"_blank"}
        %img{:alt => "fotohaus", :height => "26",  :src => "/images/fotohaus190.png", :width => "190", :style=>"border: 0;"}/
  