%p
  детская школа
  %br/
  визуальных искусств
%input{:placeholder => "Поиск...", :results => "10", :type => "search"}/
.logo
  %img{:alt => "fotohaus", :height => "26", :longdesc => "http://fotohaus.ru", :src => "/images/fotohaus190.png", :width => "190"}/
%nav
  %ul
    %li
      ШКОЛА
    %li
      КУРСЫ
    %li
      ПРЕПОДАВАТЕЛИ
    %li
      НОВОСТИ
    %li
      КОНТАКТЫ