%ul.nav.pullright
  %li
    %a{href: "/school"} Обучение
  %li
    %a{href: "/courses"} Детская зона
  %li
    %a{href: "/animation"} Праздники
  %li
    %a{href: "/animation"} Расписание и цены                
  %li.textcenter{:style=>"color:white;"}
    %a{href:"/contacts", :style=>"padding:0;"}
      .span
        Есть вопросы? Звоните!
      %br
      .span{:style=>"fontsize:22px;"}
        #(495) 7775406
        (495) 5070758
      %br
      .span4{:style=>"fontsize: 12px;"}
        ул. Нижняя Сыромятническая д. 10 стр7