!!!
%html
  %head
    %title Children Art School
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = stylesheet_link_tag 'application',controller_name

    %link{href: "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", rel: "stylesheet", type: "text/css"}/

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body.pull_top
    .navbar.transparent.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "/"}
            %strong Детская школа искусств
            %br
            %strong{:style=>"font-size:12px;"}
              Фотография, анимация, кино для детей от 7 до 17 лет
          .nav-collapse.collapse         
            %ul.nav.pull-right
              %li
                %a{href: "/school"} Школа
              %li
                %a{href: "/courses"} Курсы
              %li
                %a{href: "/animation"} Мультклуб
              %li.text-center{:style=>"color:white;"}
                .span
                  Есть вопросы? Звони!
                %br
                .span{:style=>"font-size:22px;"}
                  (495) 777-54-06
                -#(495) 507-07-58
              -#.span6{:style=>"font-size: 12px;"}
                ул. Нижняя Сыромятническая д. 10 к7
    = yield
    -#teams.section.text-center
      .container
        .section_header
          %h3 Наша команда
        -@teachers.each do |teacher|
          -teacher.avatar.recreate_versions!
          =image_tag teacher.avatar.url(:small_c), :class=>"img-circle"
      
    -#contact.section
      =render "layouts/maps"
    =render "layouts/footer"